.App{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}
.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,0.5) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,0.5) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,0.5) 0, transparent 50%);
}

